<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true" driver="pcov">
    <include>
      <directory suffix=".php">.</directory>
    </include>
  </coverage>
</phpunit>